/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
