/*================ Links & Buttons ================*/
.btn {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  @include prefix(transition, all 200ms ease, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 8px;
  border: 0;
  font-family: $font-stack-header;
}
.btn-primary{
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 44px;
  height: 44px;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-brand-1a;
  padding: 0 25px;
  &:hover{
    background-color: $color-brand-1d;
    color: $color-white;
  }
}
.btn-black{
  @extend .btn-primary;
  background-color: $color-black;
  color: $color-white;
  &:hover{
    color: rgba($color-white, .8);
  }
}
.btn-gray{
  @extend .btn-primary;
  background-color: $color-gray-lighter;
  color: $color-black;
  &:hover{
    color: rgba($color-black, .6);
    background-color: $color-gray;
  }
}
.btn-white{
  @extend .btn-primary;
  background-color: $color-white;
  color: $color-gray-darkest;
  border: 1px solid $color-gray-lighter;
  &:hover, &.active{
    background-color: $color-gray-lighter;
    color: $color-gray-darkest;
  }
}
.btn-link {
	color: $color-brand-1a;
	font-family: $font-stack-header;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}
.btn-xl{
  line-height: 64px;
  height: 64px;
}
.btn-full{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
a{
  @include prefix(transition, all 200ms ease, webkit moz spec);
}
.shopify-challenge__button{
  @extend .btn-primary;
}
.checkbox {
  width: 16px;
  height: 16px;
  position: relative;
  label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: $color-white;
    &:after {
      content:'';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $color-gray;
      background-size: 80%;
      background-repeat: no-repeat;
      background-color: $color-white;
      background-position: center center;
      @include prefix(border-radius, 2px, webkit moz spec);
      @include prefix(background-image, url("{{ 'ico-checkbox-checked.svg' | asset_url }}"), webkit moz spec);
      @include prefix(transition, all 200ms ease, webkit moz spec);
    }
    &:hover::after {
      border-color: rgba($color-brand-1a, 0.4);
      background-color: rgba($color-brand-1a, 0.3);
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      border-color: $color-brand-1a;
      background-color: $color-brand-1a;
    }    
  }
}
.input-quantity{
  display: flex;
  margin: 15px 0;
  @include prefix(border-radius, 8px, webkit moz spec);
  input[type="number"] {
      @include prefix(appearance, textfield, webkit moz spec);
      font-family: $font-stack-header;
      font-weight: bold;
      text-align: center;
      color: #374D61;
      font-size: 15px;
      line-height: 40px;
      width: 42px;
      border: 1px solid $color-gray-lighest;
      border-left: none;
      border-right: none;
      padding: 0;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
  }
  button {
      display: block;
      outline:none;
      background-color: #fafafa;
      border: 1px solid $color-gray-lighest;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 0;
      line-height: 40px;
      width: 42px;
      position: relative;
      padding: 0;
      @include prefix(border-radius, 8px 0 0 8px, webkit moz spec);
      @include prefix(appearance, none, webkit moz spec);
      @include prefix(transition, all 200ms ease, webkit moz spec);
      &:hover{
        background-color: rgba($color-brand-1c, .2);
      } 
      &:active{
        background-color: $color-brand-1a;
        &:before, &:after{
          background-color: $color-white;
        }
      }      
  }
  button.plus {
      @include prefix(border-radius, 0 8px 8px 0, webkit moz spec);
  }
  button:before,
  button:after {
      display: inline-block;
      position: absolute;
      content: '';
      width: 10px;
      height: 2px;
      background-color: $color-brand-1c;
      @include prefix(transition, all 200ms ease, webkit moz spec);
      @include prefix(transform, translate(-50%, -50%), webkit moz spec);
  }
  button.plus:after {
      @include prefix(transform, translate(-50%, -50%) rotate(90deg), webkit moz spec);
  }
} 