.banner {
    max-width: 1260px;
    margin: 0 auto;
    .banner-container {
        position: relative;
        margin: 25px 15px;
        img {
            width: 100%;
        }
    }
    a {
        display: block;
    }
    .banner__content {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding: 20px;
        @include media-query($medium-up) {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding-left: 80px;
        }
        h2 {
            font-weight: normal;
            font-size: 24px;
            letter-spacing: -0.5px;
            line-height: 27px;
            margin-top: 5px;
            margin-bottom: 5px;
            float: left;
            width: 100%;
            @include media-query($medium-up) {
                font-size: 32px;
            }
        }
        h3 {
            font-weight: bold;
            font-size: 32px;
            letter-spacing: -0.5px;
            line-height: 38px;
            margin-top: 10px;
            margin-bottom: 0;
            float: left;
            width: 100%;
            @include media-query($medium-up) {
                // font-size: 38px;
            }
        }
        .banner__body {
            font-weight: normal;
            font-size: 15px;
            letter-spacing: -0.5px;
            line-height: 19px;
            margin-top: 12px;
            float: left;
            width: 100%;
            @include media-query($medium-up) {
                font-size: 18px;
                line-height: 21px;
                margin-top: 15px;
            }
            span {
                font-weight: bold;
            }
        }
    }
    .btn {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        @include media-query($medium-up) {
            position: relative;
            transform: none;
            width: fit-content;
            bottom: 0;
            left: 0;
        }
    }
}