.collection-header {
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-query($medium-up) {
        flex-direction: column;
    }
    h1 {
        display: none;
        @include media-query($medium-up) {
            display: block;
            margin: 15px;
            text-align: center;
        }
    }
    .sort-by {
        width: 50%;
        padding-left: 15px;
        padding-right: 7px;
        position: relative;
        cursor: pointer;
        @include media-query($medium-up) {
            align-self: flex-end;
            width: auto;
            padding: 0;
            margin-right: 30px;
            margin-bottom: 10px;
            min-width: 200px;
        }
        .sort-by__indicator { 
            @extend .btn;
            @extend .btn-white;           
            width: 100%;
            text-transform: uppercase;
            @include media-query($medium-up) {
                width: auto;
                font-size: 12px;
                line-height: 17px;
                font-weight: bold;
                color: $color-brand-1a;
                text-transform: none;
                text-align: right;
                border-radius: 0;
                letter-spacing: 0;
                height: auto;
                background-color: none;
                padding: 0;
                border: 0;
                float: right;
                &:hover, &.active{
                    background: transparent;
                    color: $color-brand-1a;
                }
            }
            .btn{
                margin-left: 10px;
                font-size: 12px;
                line-height: 14px;
                text-transform: none;
                font-weight: bold;
                color: $color-black;
                padding: 7px 20px;
                letter-spacing: 0;
                box-sizing: content-box;
                height: 14px;
                display: inline-flex;
                .icon{
                    color: $color-success;
                    width: 14px;
                    height: 14px;
                    margin-left: 7px;
                }
            }
        }
        .sort-by__options {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: auto;
            margin: 0;
            padding-left: 15px;
            z-index: 10;
            pointer-events: none;
            .sort-by__options-container {
                opacity: 0;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                background: $color-white;
                padding: 8px;
                @include prefix(box-shadow, 0 2px 10px 5px rgba(0, 0, 0, 0.12), webkit moz spec);
                @include prefix(border-radius, 10px, webkit moz spec);
                @include prefix(transition, all 200ms ease, webkit moz spec);
                .sort-by__option {
                    text-align: center;
                    color: $color-gray-darker;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 19px;
                    padding: 10px 0;
                    .check {
                        display: none;
                    }
                    &.active {
                        color: $color-brand-1b;
                        .check {
                            display: inline-block;
                            color: $color-success;
                        }
                    }
                }
                .sort-by__option:hover {
                    color: $color-brand-1b;
                    cursor: pointer;
                }
            }
        }
        &.active {
            .sort-by__options {
                pointer-events: auto;
                .sort-by__options-container {
                    opacity: 1;
                    margin-top: 10px;
                    @include prefix(transition, all 200ms ease, webkit moz spec)
                }
            }
        }
    }
    .filters__indicator {
        width: 50%;
        padding-left: 8px;
        padding-right: 15px;
        .btn {
            width: 100%;
        }
    }
}

.collection-list-products__header {
    margin: 20px 0;
    @include media-query($medium-up) {
        margin: 40px 0;
    }
    h2 {
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        margin: 0;
        color: $color-gray-darkest;
        @include media-query($medium-up) {
            font-size: 24px;
            line-height: 33px;
            font-weight: normal;
        }
    }
}

.collection-page {
    margin: 5px;
    @include media-query($medium-up) {
        width: 100%;
        max-width: 1260px;
        margin: 0 auto;
    }
}

.collections-container {
    margin: 5px;
    @include media-query($medium-up) {
        width: 88%;
        max-width: 1260px;
        margin: 0 auto;
    }
}

.filters {
    @include media-query($small) {
        background: $color-white;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        padding: 60px 15px 30px;
        overflow: scroll;
        opacity: 0;
        pointer-events: none;
        @include prefix(transition, all 200ms ease, webkit moz spec);
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
    @include media-query($medium-up) {
        padding-right: 40px;
    }
    .filters-list,
    .filters-list--current-filters {
        .filters-list__title {
            font-size: 20px;
            line-height: 27px;
            color: $color-black;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            @include media-query($medium-up) {
                text-align: left;
                color: $color-brand-1b;
                font-size: 16px;
                line-height: 22px;
                padding: 10px 15px;
            }
        }
        ul {
            padding: 0;
            .filters__item {
                list-style-type: none;
                a {
                    color: $color-gray-darkest;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 12px;
                    font-size: 12px;
                    line-height: 17px;
                    cursor: pointer;
                    @include prefix(border-radius, 20px, webkit moz spec);
                    @include prefix(transition, all 200ms ease, webkit moz spec);
                    @include media-query($medium-up) {
                        text-align: left;
                        padding: 10px 15px;
                        border: 1px solid $color-white;
                    }
                    &:hover {
                        @include media-query($medium-up) {
                            border: 1px solid $color-gray-lighter;
                        }
                    }
                }
                .remove {
                    display: none;
                    pointer-events: none;
                }
                &.active,
                &:active {
                    margin: 10px 0;
                    @include media-query($medium-up) {
                        position: relative;
                        .remove {
                            position: absolute;
                            top: 8px;
                            right: 12px;
                            display: block;
                            .icon {
                                width: 15px;
                                color: $color-brand-1a;
                            }
                        }
                    }
                    a {
                        color: $color-brand-1b;
                        font-weight: bold;
                        @include media-query($medium-up) {
                            border: 1px solid $color-brand-1a;
                        }
                    }
                }
            }
        }
    }
    .filters__action-buttons {
        display: flex;
        justify-content: stretch;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        @include media-query($medium-up) {
            flex-direction: column;
        }
        .filters__clear {
            margin-right: 15px;
            @include media-query($medium-up) {
                margin: 0 0 15px 0;
            }
        }
    }
    .filters__close {
        position: fixed;
        top: 30px;
        right: 22px;
        background: $color-white;
        border: none;
    }
}

.collection-list {
    &.slick-dotted {
        margin-bottom: 60px;
    }
    .grid__item {
        padding: 0;
    }
    .collection-list__item {
        margin: 10px;
        border: 1px solid $color-gray-lighest;
        overflow: hidden;
        position: relative;
        @include prefix(border-radius, 8px, webkit moz spec);
        @include media-query($medium-up) {
            margin: 20px;
        }
        &:hover {
            border-color: $color-brand-1a;
        }
        p {
            margin: 0;
        }
        .collection-list__featured-img {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-gray-lighest;
            height: 250px;
            overflow: hidden;
        }
        .collection-list__product-info {
            margin: 0 15px;
            @include media-query($medium-up) {
                margin: 0 20px;
            }
            .collection-list__item-title {
                a {
                    color: $color-gray-darkest;
                    font-weight: normal;
                    text-decoration: none;
                    margin: 15px 0;
                    display: block;
                    overflow: hidden;
                    font-size: 18px;
                    line-height: 24px;
                    height: 72px;
                    &:hover {
                        color: $color-brand-1b;
                    }
                }
            }
            .collection-list__item-title--smaller {
                @extend .collection-list__item-title;
                a {
                    font-size: 12px;
                    line-height: 17px;
                    height: 51px;
                    @include media-query($medium-up) {
                        font-size: 18px;
                        line-height: 24px;
                        height: 72px;
                    }
                }
            }
            .price {
                margin: 0;
                .actual-price {
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 41px;
                }
                .compare-price {
                    color: $color-gray-darker;
                    @include prefix(text-decoration-color, red, webkit moz spec);
                    margin-left: 5px;
                    font-size: 18px;
                    line-height: 24px;
                }
                .compare-price--smaller {
                    @extend .compare-price;
                    font-size: 12px;
                    line-height: 17px;
                    @include media-query($medium-up) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                .sale {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    display: block;
                    padding: 5px 7px;
                    background-color: #D0021B;
                    color: $color-white;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 12px;
                    @include prefix(border-radius, 5px, webkit moz spec);
                }
            }
            .price--smaller {
                @extend .price;
                .actual-price {
                    font-size: 24px;
                    line-height: 33px;
                    @include media-query($medium-up) {
                        font-size: 30px;
                        line-height: 41px;
                    }
                }
            }
            .btn {
                margin: 15px 0;
                @include media-query($medium-up) {
                    margin: 20px 0;
                }
            }
        }
    }
    .slick-prev,
    .slick-next {
        display: block;
        background-color: $color-white;
        width: 64px;
        height: 64px;
        color: transparent;
        overflow: hidden;
        z-index: 10;
        border: 1px solid $color-gray-lighter;
        position: absolute;
        @include prefix(border-radius, 100%, webkit moz spec);
        @include prefix(transition, all 200ms ease, webkit moz spec);
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-brand-1a;
            opacity: 1;
            @include prefix(mask-image, url("{{ 'ico-slick-arrow-right.svg' | asset_url }}"),
            webkit moz spec);
            @include prefix(mask-size,
            20px,
            webkit moz spec);
            @include prefix(mask-repeat,
            no-repeat,
            webkit moz spec);
            @include prefix(mask-position,
            center center,
            webkit moz spec);
        }
        &:hover {
            background-color: $color-brand-1a;
            border-color: $color-brand-1a;
            &:before {
                background-color: $color-white;
            }
        }
    }
    .slick-prev {
        left: -70px;
        &:before {
            @include prefix(transform,
            rotate(180deg),
            webkit moz spec);
        }
    }
    .slick-next {
        right: -70px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            width: auto;
            height: auto;
            margin: 3px;
            button {
                display: block;
                width: 4px;
                height: 4px;
                padding: 0;
                background-color: $color-gray;
                margin-top: 1px;
                @include prefix(border-radius,
                100%,
                webkit moz spec);
                @include prefix(transition,
                all 200ms ease,
                webkit moz spec);
                &:before {
                    display: none;
                }
            }
            &.slick-active {
                width: auto;
                height: auto;
                button {
                    width: 7px;
                    height: 7px;
                    margin-top: 0;
                    background-color: $color-brand-1a;
                }
            }
        }
    }
}

.collection-list-products__tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin: 0 15px;
    overflow: scroll;
    height: 52px;
    padding-bottom: 10px;
    @include media-query($medium-up) {
        max-width: 1230px;
        margin: 0 auto;
        overflow: auto;
        justify-content: center;
        height: 67px;
        padding-bottom: 25px;
    }
    h3 {
        color: $color-gray-darker;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        white-space: nowrap;
        padding: 0 20px 0 0;
        margin: 0;
        @include prefix(transition,
        all 200ms ease,
        webkit moz spec);
        @include media-query($medium-up) {
            font-size: 24px;
            line-height: 28px;
            padding: 0 20px;
            margin: 0 20px;
        }
        &:hover {
            cursor: pointer;
        }
        &.active {
            font-size: 30px;
            line-height: 41px;
            color: $color-black;
            @include media-query($medium-up) {
                font-size: 36px;
                line-height: 28px;
                color: $color-brand-1a;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    .page {
        display: block;
        height: 25px;
        width: 25px;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: $color-gray-darkest;
        text-decoration: none;
        margin: 0 15px;
        &.current {
            color: $color-white;
            background: $color-brand-1a;
            @include prefix(border-radius,
            100%,
            webkit moz spec);
        }
        a {
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            color: $color-gray-darkest;
            text-decoration: none;
        }
    }
    .next,
    .prev {
        position: absolute;
        left: 20px;
        a {
            display: block;
            height: 25px;
            width: 25px;
            color: transparent;
            overflow: hidden;
            border: 1px solid $color-brand-1a;
            position: relative;
            @include prefix(border-radius,
            100%,
            webkit moz spec);
            @include prefix(transition,
            all 200ms ease,
            webkit moz spec);
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-brand-1a;
                @include prefix(mask-image,
                url("{{ 'ico-pagination-left.svg' | asset_url }}"),
                webkit moz spec);
            }
            &:hover {
                border: 1px solid $color-brand-1a;
                background: $color-brand-1a;
                &:before {
                    background-color: $color-white;
                }
            }
        }
    }
    .next {
        left: auto;
        right: 20px;
        a {
            &:before {
                @include prefix(transform,
                rotate(180deg),
                webkit moz spec);
            }
        }
    }
}