.footer{
    background-color: $color-gray-lighest;
    @include media-query($medium-up) {
        margin-top: 40px;
    }
    .footer__container{
        @include media-query($medium-up) {
            max-width: 1140px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }
    .footer__link-list{
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        @include media-query($medium-up) {
            width: 70%;
            display: flex;
            padding-top: 20px;
        }
        >li{
            position: relative;
            @include media-query($medium-up) {
                padding: 40px;
            }
            >a {
                color: $color-black;
                font-family: $font-stack-header;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.16px;
                line-height: 24px;
                padding: 20px;
                text-decoration: none;
                display: block;
                @include media-query($medium-up) {
                    padding: 0 0 10px 0;
                    color: $color-brand-1a;
                    font-size: 12px;
                    letter-spacing: 2.4px;                    ;
                    line-height: 17px;
                    text-transform: uppercase;
                }
            }
            &:before,
            &:after {
                display: inline-block;
                position: absolute;
                content: '';
                width: 10px;
                height: 2px;
                right: 20px;
                top: 31px;
                background-color: $color-black;
                @include prefix(transform, translate(-50%, -50%), webkit moz spec);
                @include media-query($medium-up) {
                    display: none;
                }
            }
            &:after {
                @include prefix(transform, translate(-50%, -50%) rotate(90deg), webkit moz spec);
            }
            ul{
                display: none;
                list-style-type: none;
                padding: 0;
                @include media-query($medium-up) {
                    display: block;
                }
                li{
                    a{
                        font-family: $font-stack-body;
                        font-size: 14px;
                        line-height: 36px;
                        font-weight: normal;
                        color: $color-gray-darker;
                        text-decoration: none;
                        padding: 0 20px;
                        width: 100%;
                        display: block;
                        @include media-query($medium-up) {
                            padding: 0;
                        }
                        &:hover{
                            color: $color-brand-1b;
                        }
                    }
                }
            }
        }
    }
    .footer__social-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-query($medium-up) {
            width: 30%;
            padding-top: 56px;
            display: block;
        }
        h5{
            color: $color-black;
            font-family: $font-stack-header;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.16px;
            line-height: 24px;
            padding: 20px;
            margin: 0;
            @include media-query($medium-up) {
                display: none;
            }
        }
        ul{
            list-style-type: none;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
            @include media-query($medium-up) {
                justify-content: space-between;
                width: 100%;
            }
            li{
                a{
                    font-size: 32px;
                    padding: 20px;
                    color: $color-gray-darker;
                    @include prefix(transition, all 200ms ease, webkit moz spec);
                    @include media-query($medium-up) {
                        color: $color-brand-1a;
                    }
                    &:hover{
                        color: $color-brand-1d;
                    }
                }
            }
        }
        .shop-info{
            display: none;
            @include media-query($medium-up) {
                display: block;
                font-family: $font-stack-body;
                font-size: 14px;
                line-height: 36px;
                font-weight: normal;
                color: $color-gray-darker;
                margin-top: 26px;
                p{
                    margin: 0
                }               
            }
        }
    }
    .footer__copyright{
        color: $color-gray-darker;
        font-family: $font-stack-body;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        width: 262px;
        margin: 0 auto;
        padding: 40px 0;
        @include media-query($medium-up) {
            display: none;
        }
        a{
            color: $color-gray-darkest;
            text-decoration: none;
        }
    }
    .footer__about{
        display: none;
        @include media-query($medium-up) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 40px 80px;
        }
        .logo{
            align-self: flex-start;
        }
        .about-text{
            width: 50%;
            h6{
                color: $color-brand-1b;
                font-family: $font-stack-header;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2.4px;
                line-height: 17px;
                margin: 0;
            }
            p{
                color: $color-gray-darker;
                font-family: $font-stack-body;
                font-size: 14px;
                line-height: 26px;
                margin: 15px 0 0 0;
            }
        }
    }
}