.login-page{
    margin: 5px;
    @include media-query($medium-up) {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
    }
}
.login-form{
    margin: 0;
    padding: 10px;
    @include media-query($medium-up) {
        padding: 15px
    }
    .login-form__container{
        border: 1px solid $color-gray-lighter;
        padding: 24px;
        @include prefix(border-radius, 8px, webkit moz spec);
        @include media-query($medium-up) {
            padding: 60px
        }
        .login-form__title{
            font-size: 20px;
            line-height: 27px;
            color: $color-black;
            text-align: center;
            margin-top: 0;
        }
        .login-form__input{
            width: 100%;
            height: 48px;
            color: $color-black;
            font-size: 12px;
            line-height: 48px;
            padding-left: 16px;
            background-color: $color-white;
            border: 1px solid $color-gray;
            margin-top: 15px;
            @include prefix(border-radius, 5px, webkit moz spec);
            @include prefix(transition, all 200ms ease, webkit moz spec);
            &::placeholder{
                color: $color-gray-darker;
            }
            &:focus{
                border-color: $color-brand-1a;
            }
        }
        .login-form__submit{
            margin: 15px 0;
        }
        .login-form__recover-pass{
            margin-bottom: 10px;
            @include media-query($medium-up) {
                margin-bottom: 0;
            }
        }
        .recover-password-form{
            .recover-password-form__title{
                font-size: 20px;
                line-height: 27px;
                color: $color-black;
                text-align: center;
                margin-top: 0;
            }
            .recover-password-form__subtitle{
                text-align: center;
                color: $color-gray-darkest;
                font-size: 14px;
                line-height: 25px;
            }
            .login-form__input{
                margin-bottom: 20px;
            }
            .recover-password-form__submit{
                margin-bottom: 15px;
            }
        }
    }
}
.signup-banner{
    margin: 0;
    padding: 10px;
    @include media-query($medium-up) {
        padding: 15px
    }
    .signup-banner__container{
        border: 1px solid $color-gray-lighter;
        padding: 24px;
        @include prefix(border-radius, 8px, webkit moz spec);
        @include media-query($medium-up) {
            height: 100%;
            padding: 60px
        }
        .signup-banner__title{
            font-size: 20px;
            line-height: 27px;
            color: $color-black;
            text-align: center;
            margin-top: 0;
        }
        h3{
            text-align: center;
            color: $color-gray-darkest;
            font-size: 18px;
            line-height: 25px;
            font-weight: bold;
            margin-bottom: 0;
            @include media-query($medium-up) {
                margin-top: 36px;
            }
        }
        p{
            text-align: center;
            color: $color-gray-darkest;
            font-size: 14px;
            line-height: 25px;
        }
        .signup-banner__submit{
            margin: 15px 0 5px;
        }
    }
}