.template-page{
    #MainContent{
        width: 90%;
        max-width: 1260px;
        margin: 0 auto;
        h1{
            color: $color-brand-1a;
            font-size: 64px;
            line-height: 87px;
            font-weight: bold;
            text-align: center;
            width: 100%;
            margin: 0;
            padding: 75px 0;
            letter-spacing: -1px;
        }
        p{
            font-size: 18px;
            line-height: 34px;
            color: $color-gray-darkest;
        }
    }
}