#shopify-section-product {
    .product__primary-info {
        margin: 15px;
        @include media-query($medium-up) {
            display: flex;
            align-items: stretch;
            max-width: 1260px;
            margin: 0 auto;
        }
        .grid__item {
            border: 1px solid $color-gray-lighter;
            margin-bottom: 15px;
            @include prefix(border-radius, 8px, webkit moz spec);
            @include media-query($medium-up) {
                margin: 0 15px;
                padding: 30px;
            }
        }
        .product__image {
            margin-bottom: 0;
            padding: 0;
            overflow: hidden;
            @include prefix(border-radius, 8px 8px 0 0, webkit moz spec);
            @include media-query($medium-up) {
                // padding: 30px;
                @include prefix(border-radius, 8px, webkit moz spec);
            }
            .slick-track {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .product__image-slider,
            .product__image-slider-nav {
                padding: 0;
                margin: 0;
                >li {
                    display: none;
                }
                img {
                    margin: auto;
                }
                .slick-dots {
                    bottom: 15px;
                    li {
                        margin: 0;
                        button:before {
                            font-size: 25px;
                            color: $color-gray;
                            opacity: 1;
                        }
                        &.slick-active {
                            button:before {
                                color: $color-brand-1a;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .product__image-slider {
                background-color: $color-gray-lighest;
                @include media-query($medium-up) {
                    background-color: $color-white;
                }
            }
            .product__image-slider-nav {
                margin: 30px auto;
                width: 88%;
                .slick-slide,
                li {
                    border: 2px solid $color-white;
                    @include prefix(border-radius, 8px, webkit moz spec);
                    &:hover {
                        cursor: pointer;
                    }
                }
                .slick-current {
                    border-color: $color-brand-2;
                }
            }
            .img-container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                background-color: $color-gray-lighest;
                @include media-query($medium-up) {
                    background-color: $color-white;
                }
                img {
                    height: auto;
                }
            }
        }
        .product__offer-details {
            margin-top: -1px;
            padding: 15px 25px 25px;
            @include prefix(border-radius, 0 0 8px 8px, webkit moz spec);
            @include media-query($medium-up) {
                margin-top: 0;
                @include prefix(border-radius, 8px, webkit moz spec);
            }
            .produc__title {
                color: #363636;
                font-family: $font-stack-header;
                font-size: 18px;
                line-height: 24px;
                font-weight: normal;
                @include media-query($medium-up) {
                    font-size: 24px;
                    line-height: 33px;
                    color: $color-gray-darker
                }
            }
            .product__price-label {
                display: none;
                @include media-query($medium-up) {
                    color: #9B9B9B;
                    font-family: $font-stack-header;
                    font-size: 14px;
                    line-height: 19px;
                    display: block;
                }
            }
            .product__price {
                color: #000000;
                font-family: $font-stack-header;
                font-size: 30px;
                font-weight: bold;
                line-height: 41px;
            }
            .product__last-price {
                color: $color-gray-darker;
                font-size: 18px;
                line-height: 24px;
                @include media-query($medium-up) {
                    font-size: 12px;
                    line-height: 17px;
                    display: inline-block;
                    width: 90px;
                    margin-left: 20px;
                }
                .value {
                    text-decoration-color: red;
                }
            }
            .product__buy-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                @include media-query($medium-up) {
                    max-width: 240px;
                }
            }
            .call-us {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #999999;
                font-family: $font-stack-header;
                font-size: 15px;
                line-height: 20px;
                margin: 10px 25px;
                @include media-query($medium-up) {
                    margin: 10px 0;
                }
                .icon {
                    width: 36px;
                    height: 36px;
                    color: $color-brand-1c;
                    margin-right: 15px;
                }
            }
        }
        .store__faq {
            padding: 25px;
            h3 {
                font-family: $font-stack-header;
                font-size: 24px;
                line-height: 33px;
                color: $color-gray-darker;
                width: 100%;
                font-weight: normal;
                text-align: center;
                margin: 0;
                padding: 0 0 10px 0;
                @include media-query($medium-up) {
                    text-align: left;
                }
            }
            h4 {
                font-family: $font-stack-header;
                font-size: 15px;
                line-height: 20px;
                color: #4a4a4a;
                text-align: justify;
                width: 100%;
                font-weight: bold;
                margin: 0;
                padding: 10px 0 10px 0;
            }
            p {
                font-family: $font-stack-header;
                font-size: 15px;
                line-height: 20px;
                color: #9b9b9b;
                text-align: justify;
                width: 100%;
                margin: 0;
                padding: 0 0 5px 0;
            }
        }
    }
    .product__secondary-info {
        .product__details {
            .product__details-tabs {
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                overflow-x: scroll;
                @include media-query($medium-up) {
                    overflow: visible;
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style-type: none;
                    flex-wrap: nowrap;
                    margin: 20px 30px;
                    padding: 0;
                    @include media-query($medium-up) {
                        margin-top: 100px;
                        margin-bottom: 50px;
                    }
                    li {
                        h3 {
                            color: $color-brand-1c;
                            font-family: $font-stack-header;
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 2.63px;
                            line-height: 24px;
                            text-align: left;
                            margin: 0 30px 0 0;
                            @include media-query($medium-up) {
                                font-size: 14px;
                                line-height: 28px;
                                text-align: center;
                                margin: 0;
                            }
                            &.active {
                                color: $color-black;
                                font-size: 30px;
                                line-height: 41px;
                                letter-spacing: 3.75px;
                                @include media-query($medium-up) {
                                    font-size: 20px;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
            }
            .product__details-content {
                position: relative;
                height: 300px;
                overflow: hidden;
                margin: 0 30px;
                @include prefix(transition, height 200ms ease, webkit moz spec);
                @include media-query($medium-up) {
                    max-width: 1050px;
                    margin: 0 auto;
                }
                .product__description {
                    font-family: $font-stack-body;
                    font-size: 14px;
                    line-height: 25px;
                }
                h2 {
                    color: $color-brand-1a;
                    font-size: 20px;
                    line-height: 27px;
                }
                .curtain {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 80%);
                    /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 80%);
                    /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 80%);
                    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    opacity: 1;
                    @include prefix(opacity, height 200ms ease, webkit moz spec);
                }
                .btn {
                    position: absolute;
                    bottom: 25px;
                    left: 50%;
                    width: 90%;
                    @include prefix(transform, translateX(-50%), webkit moz spec);
                    @include media-query($medium-up) {
                        width: 255px;
                    }
                }
                &.open {
                    height: auto;
                    padding-bottom: 90px;
                    .curtain {
                        display: none;
                        opacity: 0;
                    }
                }
            }
        }
        .product__reviews {
            h3 {
                color: $color-gray-darker;
                font-family: $font-stack-header;
                font-size: 24px;
                line-height: 33px;
                text-align: center;
                font-weight: normal;
                @include media-query($medium-up) {
                    color: $color-gray-darkest;
                }
            }
            .product__reviews-yotpo {
                margin: 0 30px;
                padding-bottom: 70px;
                .yotpo-label {
                    display: none;
                }
                .yotpo-regular-box {
                    border: none;
                }
                .yotpo-nav {
                    border: none;
                }
                .yotpo-sum-reviews {
                    color: $color-gray-darker;
                    font-family: $font-stack-body;
                    font-size: 14px;
                    line-height: 19px;
                }
                .yotpo-main {
                    margin-top: 25px;
                } // .write-review-button{                    
                //     .yotpo-icon{
                //     }
                //     .yotpo-icon-button-text{
                //     }
                // }
            }
        }
    }
}