.registration-page{
    margin: 5px;
    @include media-query($medium-up) {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
    }
    .registration-form{
        margin: 0;
        padding: 10px;
        .registration-form__container{
            border: 1px solid $color-gray-lighter;
            padding: 24px;
            @include prefix(border-radius, 8px, webkit moz spec);
            @include media-query($medium-up) {
                padding: 60px;
            }
            .registration-form__title{
                font-size: 24px;
                line-height: 33px;
                color: $color-black;
                text-align: center;
                margin-top: 0;
            }
            .registration-form__subtitle{
                text-align: center;
                color: $color-gray-darkest;
                font-size: 14px;
                line-height: 25px;
                font-weight: bold;
                margin: 20px 0;
            }
            .registration-form__input{
                width: 100%;
                height: 48px;
                color: $color-black;
                font-size: 12px;
                line-height: 48px;
                padding-left: 16px;
                background-color: $color-white;
                border: 1px solid $color-gray;
                margin-bottom: 20px;
                @include prefix(border-radius, 5px, webkit moz spec);
                @include prefix(transition, all 200ms ease, webkit moz spec);
                &::placeholder{                    
                    color: $color-gray-darker;
                }
                &:focus{
                    border-color: $color-brand-1a;
                }
            }
            .registration-form__optin{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .checkbox{
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                }
                .label{
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: bold;
                    color: $color-gray-darkest;
                }
            }
            .registration-form__submit{
                margin-bottom: 10px;
            }
        }
    }
}