.shopping-cart{
    width: 100%;
    padding: 0 15px;
    padding-bottom: 130px;
    @include media-query($medium-up) {
        width: 90%;
        max-width: 1200px;    
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .shopping-cart__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .shopping-cart__title{
            font-size: 20px;
            line-height: 27px;
            font-weight: bold;
            color: $color-black;
            text-align: center;
            margin: 20px 0;
            @include media-query($medium-up) {
                font-weight: normal;
                text-align: left;
                font-size: 24px;
                line-height: 33px;
                color: $color-gray-darkest;
                margin: 30px 0;
            }
        }
        .shopping-cart__badges{
            display: flex;
            align-items: center;
            img{
                margin: 0 0 0 20px;
            }
        }
    }
    .shopping-cart__products-table{
        width: 100%;
        margin: 0;
        .thead{
            background-color: $color-brand-1a;
            @include prefix(border-radius, 8px 8px 0 0, webkit moz spec);
            font-size: 14px;
            line-height: 45px;
            color: $color-white;
            font-weight: bold;
            .quantity{
                text-align: center;
            }
            .price{
                text-align: center;
            }
        }
        .tbody{
            .shopping-cart__product-row{
                border-bottom: 1px solid $color-gray-lighest;
                border-left: 1px solid $color-gray-lighest;
                border-right: 1px solid $color-gray-lighest;
                display: flex;
                align-items: center;
                .shopping-cart__product-image{
                    padding: 0;
                    a{
                        display: block;
                        img{
                            display: block;
                        }
                    }
                }
                .shopping-cart__product-info{
                    padding-left: 10px;
                    padding-right: 10px;
                    @include media-query($medium-up) {
                        padding-left: 35px;      
                    }              
                    p {
                        color: $color-gray-darker;
                        font-size: 10px;
                        line-height: 14px;
                        margin: 0;
                    }
                    .shopping-cart__product-title{
                        color: $color-gray-darkest;
                        font-size: 14px;
                        line-height: 19px;
                        text-decoration: none;
                        @include media-query($medium-up) {
                            font-size: 16px;
                            line-height: 22px;
                        }
                        &:hover{
                            color: $color-brand-1b;
                        }
                    }
                    .price{
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: bold;
                        color: $color-black;
                    }
                }
                .shopping-cart__product-price{
                    text-align: center;
                    color: $color-gray-darkest;
                    font-size: 30px;
                    line-height: 40px;
                }
                .shopping-cart__product-removal{
                    text-align: right;
                    padding-left: 0;
                    a{
                        color: $color-brand-3;
                        display: block;
                        margin-right: 25px;
                        .icon{
                            width: 36px;
                            height: 36px;
                            border: 1px solid $color-gray-lighter;
                            background-color: $color-white;
                            @include prefix(border-radius, 100%, webkit moz spec);
                            @include prefix(transition, all 200ms ease, webkit moz spec);
                        }
                        &:hover{
                            .icon{
                                background-color: $color-gray-lighter;
                            }
                        }
                    }
                }
            }
        }
        .tfoot{
            .shopping-cart__total-price{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 25px;
                border-bottom: 1px solid $color-gray-lighest;         
                border-left: 1px solid $color-gray-lighest;                        
                border-right: 1px solid $color-gray-lighest;
                @include prefix(border-radius, 0 0 8px 8px, webkit moz spec);
                .label{
                    color: $color-gray-darkest;
                    font-size: 16px;           
                    line-height: 40px;
                    margin-right: 6px;
                    font-weight: bold;
                }
                .value{           
                    color: $color-black;
                    font-size: 30px; 
                    line-height: 40px;
                    font-weight: bold;
                }
            }
        }
    }
    .shopping-cart__submit-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        width: 100%;
        padding: 15px;
        z-index: 10;
        @include prefix(box-shadow, 0 -2px 15px 0 rgba(0,0,0,0.15), webkit moz spec);
        @include media-query($medium-up) {
            justify-content: flex-end;
            margin-top: 30px;
            position: static;
            @include prefix(box-shadow, none, webkit moz spec);
            padding: 0;
        }
        .shopping-cart__total-price{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .label{
                color: $color-gray-darkest;
                font-size: 14px;           
                line-height: 19px;
                font-weight: bold;
                margin-right: 6px;
            }
            .value{           
                color: $color-black;
                font-size: 24px; 
                line-height: 33px;
                font-weight: bold;
            }
        }
        .shopping-cart__submit-button{
            @include media-query($small) {
                font-size: 14px;
                line-height: 44px;
                height: 44px;
                padding: 0 10px;
                letter-spacing: 1px;
            }
        }
    }  
}
