.site-header{
  max-width: 1260px;
  margin: 15px auto 0;
}
.site-logo {
  display: block;
  text-decoration: none;
  color: $color-brand-1b;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -2px;
  &:hover{
    color: $color-black;
  }
  &:active{
    color: $color-brand-1a;
  }
  img {
    display: block;
    width: 100%;
  }
}
.breadcrumb{
  display: none;
  @include media-query($medium-up) {
    display: block;
    margin: 20px 15px;
    color: #9B9B9B;
    font-family: $font-stack-header;
    font-size: 12px;
    letter-spacing: 0.27px;
    line-height: 17px;
    a{
      text-decoration: none;
      color: #9B9B9B;
    }
    a:hover{
      color: #374D61;
    }
    .active-page{
      font-weight: $font-weight-bold;
      color: #374D61;
    }
  }
}
.header__america{
  font-family: $font-stack-header;
  color: #9B9B9B;
  font-size: 9px;
  line-height: 13px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
  @include media-query($medium-up) {
    font-size: 12px;
    justify-content: flex-start;
  }
  img{
    width: 18px;
    height: 12px;
    margin-right: 5px;
    @include media-query($medium-up) {
      width: 24px;
      height: 16px;
    }
  } 
}
.header__main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  
  h1, .h1{
    margin: 0;
    @include media-query($medium-up) {
      margin: 0 60px 0 0;
    }
  }

  .header__hamburger{
    @include media-query($medium-up) {
      display: none;
    }
    .icon{
      color: #000;
      width: 36px;
      height: 36px;
    }
  }

  .header__nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .icon{
      color: #374D61;
      width: 36px;
      height: 36px;
    }
    .header__session-links{
      display: none;
      padding-left: 0;
      @include media-query($medium-up) {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      a{
        display: flex;
        align-items: center;
        color: #9B9B9B;
        font-family: $font-stack-header;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 17px;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 50px;
      }
      a:hover{
        color: #374D61;
      }
    }
    .header__cart{
      position: relative;
      .counter{
        display: block;
        color: #FFFFFF;
        font-family: $font-stack-body;
        font-size: 9px;
        font-weight: bold;
        line-height: 15px;
        width: 15px;
        height: 15px;
        background-color: red;
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none;
        text-align: center;
        @include prefix(border-radius, 100%, webkit moz spec);
      }
      
    }
    .header__search-button{
      display: none;
      @include media-query($medium-up) {
        display: block;
        margin-left: 50px;
      }
      .icon{
        width: 44px;
        height: 44px;
      }
    }
  }
}
.header__search{
  display: flex;
  align-items: center;
  margin: 15px;
  @include media-query($medium-up) {
    flex: 1;
  }
  input{
    width: calc(100% - 55px);
    height: 36px;
    color: $color-gray-darkest;
    font-family: $font-stack-body;
    font-size: 12px;
    line-height: 36px;
    padding-left: 10px;
    background-color: $color-gray-lighest;
    border: none;
    @include prefix(border-radius, 8px 0 0 8px, webkit moz spec);
    @include prefix(appearance, none, webkit moz spec);
    @include media-query($medium-up) {
      @include prefix(border-radius, 5px 0 0 5px, webkit moz spec);
      width: calc(100% - 65px);
      height: 46px;
      background-color: $color-white;
      border: 2px solid $color-gray-lighter;
      border-right: none;
      padding-left: 15px;
      font-weight: bold;
      color: $color-gray-darkest;
    }
    &::placeholder{
      color: $color-gray-darker;
    }
    &:focus{
      border: none;
      @include media-query($medium-up) {
        border: 2px solid $color-gray-lighter;
        border-right: none;
      }
    }
  }
  button{
    width: 55px;
    padding: 0;
    height: 36px;
    background-color: #4A90E2;
    @include prefix(border-radius, 0 8px 8px 0, webkit moz spec);
    @include media-query($medium-up) {
      @include prefix(border-radius, 0 5px 5px 0, webkit moz spec);
      width: 55px;
      height: 46px;
    }
    .icon{
      color: #ffffff;
      height: 36px;
      width: 36px;
      @include media-query($medium-up) {
        height: 46px;
        width: 46px;
      }
    }
  }
}
.header__main-menu{
  opacity:0;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  @include prefix(transition, opacity 200ms ease, webkit moz spec);  
  ul{
    display: block;
    list-style-type: none;
    width: 0;
    opacity: 0;
    height: 100%;
    background-color: $color-white;
    padding: 0;
    margin: 0;
    @include prefix(transition, all 200ms ease 200ms, webkit moz spec);
    li.header__main-menu-links{
      position: relative;
      a{
        color: #787878;
        font-family: $font-stack-header;
        text-align: left;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px; 
        text-decoration: none;
        padding: 15px 30px; 
        display: block;
        opacity: 0;
        @include prefix(transition, all 200ms ease 400ms, webkit moz spec); 
      }
      a:hover{
        color: #374D61;
      }
      ul{
        display: none;
      }
    }
    li.header__main-menu-head{
      padding: 0;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background:$color-gray-lighest;
      margin-bottom: 15px;
    }
    li.header__session-links2{
      margin: 15px 0 15px 30px;
      position: relative;
      a{
        margin-right: 5px;
        opacity: 0;
        padding: 0 15px;
        @include prefix(transition, all 200ms ease 400ms, webkit moz spec);
      }
      .header__session-account{
        color: $color-gray-darker;
        text-decoration: none;
        line-height: 32px;
        padding: 0;
        .icon{
          color: $color-brand-1b;
          width: 32px;
          height: 32px;
          margin-left: -8px;
        }
      }
      .header__session-logout{
        text-decoration: underline;
        color: $color-brand-1a;
        line-height: 32px;
        padding: 0;
        position: absolute;
        right: 25px;
      }
    }
  }
  &.header__main-menu--open{
    opacity: 1;
    height: 100vh;
    overflow: scroll;
    >ul{
      opacity:1;
      width: 80vw;
      li a{
        opacity: 1;
      }
    }
    .header__menu-close{
      position: fixed;
      top: 30px;
      right: 30px;
      .icon{
        color: $color-white;
        width: 18px;
        height: 18px;
      }
    }
  }  
  @include media-query($medium-up) {
    opacity:1;
    width: inherit;
    background-color: transparent;
    height: inherit;
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
    ul{
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: $color-gray-lighest;
      margin: 0 15px;
      width: inherit;
      height: inherit;
      opacity:1;
      @include prefix(border-radius, 8px, webkit moz spec);
      z-index:1;
      li.header__main-menu-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
          font-size: 14px;
          line-height: 19px;
          opacity: 1;
          font-weight: normal;
          text-align: center;
          padding: 15px;
          @include prefix(transition, all 200ms ease, webkit moz spec);
        }
        ul{
          position: absolute;
          top: 100%;
          width: 210px;
          margin: 0;
          display: flex;
          opacity: 0;
          flex-direction: column;
          background: $color-gray-lighest;
          @include prefix(box-shadow, 0 10px 20px 5px rgba(93,120,145,0.15), webkit moz spec);
          @include prefix(transition, all 200ms ease, webkit moz spec);
          z-index: 10;
          li{
            display: none;
            @include prefix(transition, all 200ms ease, webkit moz spec);
          }      
          a{
            text-align: center;
          }
        }
      }
      li:hover{
        ul{
          opacity: 1;
          margin-top: -10px; 
          li{
            display: block;
          }       
        }
      }
    }    
  }
}