<div class="shopping-cart">
  {% if cart.item_count > 0 %}
    <div class="shopping-cart__header">
      <h1 class="shopping-cart__title">{{ 'cart.general.title' | t }}</h1>
      <div class="shopping-cart__badges small--hide">
        {{ 'norton.png' | asset_url | img_tag }}
        {{ 'resellerratings.png' | asset_url | img_tag }}
        {{ 'trustpilot.png' | asset_url | img_tag }}
      </div>
    </div>
    <form action="/cart" method="post" novalidate>
      <div class="shopping-cart__products-table grid">
        <div class="thead grid__item">
          <div class="grid">
            <div class="grid__item medium-up--six-twelfths">{{ 'cart.label.product' | t }}</div>
            <div class="quantity grid__item small--hide medium-up--two-twelfths">{{ 'cart.label.quantity' | t }}</div>
            <div class="price grid__item small--hide medium-up--two-twelfths">{{ 'cart.label.price' | t }}</div>
          </div>
        </div>
        <div class="tbody grid__item">
          {% for item in cart.items %}
          <div class="shopping-cart__product-row grid">
            <div class="shopping-cart__product-image grid__item medium-up--one-twelfth small--three-twelfths">
              {% if item.image != blank %}
                <a href="{{ item.url | within: collections.all }}">
                  {{ item | img_url: '110x' | img_tag: item.title }}
                </a>
              {% endif %}
            </div>
            <div class="shopping-cart__product-info grid__item medium-up--five-twelfths small--seven-twelfths">
              <a class="shopping-cart__product-title" href="{{ item.url }}">{{ item.product.title }}</a>

              {% unless item.product.has_only_default_variant %}
                <p class="visually-hidden">{{ item.variant.title }}</p>
              {% endunless %}

              <p class="small--hide">Brand: {{ item.vendor }}</p>
              <p class="small--hide">Operational System: {{ item.vendor }}</p>
              <p class="small--hide">Kind: {{ item.vendor }}</p>

              {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:

                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}
              
              <div class="price medium-up--hide">
              {% if item.original_line_price != item.line_price %}
                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                {{ item.price | money }}
                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                <s>{{ item.original_price | money }}</s>
              {% else %}
                {{ item.price | money }}
              {% endif %}
              </div>
            </div>
            <div class="shopping-cart__product-quantity grid__item medium-up--two-twelfths small--hide">
              <div class="input-quantity">
                <button class="minus"></button>
                <input type="number"
                      id="updates_{{ item.key }}"
                      name="updates[]"
                      value="{{ item.quantity }}"
                      min="1"
                      aria-label="{{ 'cart.general.item_quantity' | t }}">
                <button class="plus"></button>
              </div>
            </div>
            <div class="shopping-cart__product-price grid__item medium-up--two-twelfths small--hide">
              {% if item.original_line_price != item.line_price %}
                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                {{ item.price | money }}
                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                <s>{{ item.original_price | money }}</s>
              {% else %}
                {{ item.price | money }}
              {% endif %}
            </div>
            <div class="shopping-cart__product-removal grid__item medium-up--two-twelfths small--two-twelfths">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                {% include 'icon-trash' %}
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="tfoot grid__item small--hide">
          <div class="grid">
            <div class="shopping-cart__total-price grid__item">
              <span class="label">{{ 'cart.general.total' | t }}:</span> <span class="value">{{ cart.total_price | money }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="shopping-cart__submit-footer">
        <div class="shopping-cart__total-price">
          <span class="label medium-up--hide">{{ 'cart.general.total' | t }}:</span>
          <span class="value medium-up--hide">{{ cart.total_price | money }}</span>
        </div>
        <input type="submit" name="checkout" class="shopping-cart__submit-button btn btn-primary btn-xl" value="{{ 'cart.general.checkout' | t }}">
      </div>
      
    </form>
  {% else %}
    <h1 class="shopping-cart__title">{{ 'cart.general.title' | t }}</h1>

    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  {% endif %}
</div>
