{% paginate collection.products by 9 %}
  <header role="banner" class="collection-header" data-value="{{ collection.handle }}">
    <h1>{{ collection.title }}</h1>
    
    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}
    
    <div class="sort-by">
      <div class="sort-by__indicator">Sort by
        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
        {% case sort_by %}
          {% when 'manual' %}
            <button class="btn btn-white small--hide">Featured {% include 'icon-check' %}</button>
          {% when 'price-ascending' %}
            <button class="btn btn-white small--hide">Price: Low to High {% include 'icon-check' %}</button>
          {% when 'price-descending' %}
            <button class="btn btn-white small--hide">Price: High to Low {% include 'icon-check' %}</button>
          {% when 'title-ascending' %}
            <button class="btn btn-white small--hide">A-Z {% include 'icon-check' %}</button>
          {% when 'title-descending' %}
            <button class="btn btn-white small--hide">Z-A {% include 'icon-check' %}</button>
          {% when 'created-ascending' %}
            <button class="btn btn-white small--hide">Oldest to Newest {% include 'icon-check' %}</button>
          {% when 'created-descending' %}
            <button class="btn btn-white small--hide">Newest to Oldest {% include 'icon-check' %}</button>
          {% when 'best-selling' %}
            <button class="btn btn-white small--hide">Best Selling {% include 'icon-check' %}</button>
          {% endcase %}

      </div>
      <nav class="sort-by__options" data-value="{{ collection.sort_by | default: collection.default_sort_by }}">
        <div class="sort-by__options-container">
          <div class="sort-by__option" data-value="manual">Featured <span class="check">{% include 'icon-check' %}</span></div>
          <div class="sort-by__option" data-value="price-ascending">Price: Low to High <span class="check">{% include 'icon-check' %}</span></div>
          <div class="sort-by__option" data-value="price-descending">Price: High to Low <span class="check">{% include 'icon-check' %}</span></div>
          <div class="sort-by__option" data-value="title-ascending">A-Z <span class="check">{% include 'icon-check' %}</span></div>
          <div class="sort-by__option" data-value="title-descending">Z-A <span class="check">{% include 'icon-check' %}</span></div>
          <div class="sort-by__option" data-value="created-ascending">Oldest to Newest <span class="check">{% include 'icon-check' %}</span></div>
          <div class="sort-by__option" data-value="created-descending">Newest to Oldest <span class="check">{% include 'icon-check' %}</span></div>
          <div class="sort-by__option" data-value="best-selling">Best Selling <span class="check">{% include 'icon-check' %}</span></div>
        </div>
      </nav>
    </div>
    <div class="filters__indicator medium-up--hide">
        <div class="btn btn-white">FILTER</div>
    </div>
  </header>

  <div class="collection-page grid">
    
    {% include 'filters' %}
    
    <div class="collection-list grid__item medium-up--three-quarters">
      <div class="grid">
        {% for product in collection.products %}
          <div class="grid__item small--one-half medium-up--one-third">
            <div class="collection-list__item">
              {% if product.featured_image != blank %}
                <a class="collection-list__featured-img" href="{{ product.url | within: collection }}">
    
                  <picture>
                    <source
                      srcset="
                      {{ product.featured_image.src | img_url: 'x245' }} 1x,
                      {{ product.featured_image.src | img_url: 'x245', scale: '2' }} 2x,
                      {{ product.featured_image.src | img_url: 'x245', scale:'3' }} 3x
                      ">
                    <img src="{{ section.settings.banner-image-desktop | img_url: '1260x' }}" alt="{{ product.featured_image.alt }}">
                  </picture>
    
                </a>
              {% endif %}
              <div class="collection-list__product-info">
                <p class="collection-list__item-title--smaller">
                  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                </p>   
                <p class="price--smaller">
    
                  {% if product.compare_at_price > product.price %}
    
                    {% if product.price_varies %}
                      {%- assign sale_price = product.price | money -%}
                      <span class="actual-price">{{ sale_price }}</span>
                    {% else %}
                      <span class="sale">{{ 'products.product.on_sale' | t }}</span>
                      <span class="actual-price">{{ product.price | money }}</span>
                    {% endif %}
    
                  {% else %}
    
                    {% if product.price_varies %}
                      {%- assign price = product.price | money -%}
                      {{ 'products.product.from_text_html' | t }}
                      <span class="actual-price">{{ product.price | money }}</span>
                    {% else %}
                      <span class="actual-price">{{ product.price | money }}</span>
                    {% endif %}
    
                  {% endif %}
    
                  {% if product.compare_at_price > product.price %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s class="compare-price--smaller">{{ product.compare_at_price | money }}</s>
                  {% endif %}
    
                  {% unless product.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% endunless %}
                </p>  
                <a class="btn btn-primary btn-full" href="{{ product.url | within: collection }}">{{ 'products.product.add_to_cart' | t }}</a>
              </div>
            </div>
          </div>
    
        {% else %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            {% for i in (1..8) %}
              <a href="#">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              </a>
              <p>
                <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
              </p>
              <p>
                {{ 1999 | money }}
              </p>
            {% endfor %}
          {% else %}
            <p>{{ 'collections.general.no_matches' | t }}</p>
          {% endif %}
    
        {% endfor %}
      </div>
      <div class="grid">
        <div class="grid__item">
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}</div>
      </div>      
    </div>
  </div>

  
{% endpaginate %}
