{% paginate search.results by 12 %}
  <header class="collection-header">
    <h1>
      {% if search.performed %}
        {% if search.results_count == 0 %}
          {{ 'general.search.no_results_html' | t: terms: search.terms }}
        {% else %}
          {{ 'general.search.results_for_html' | t: terms: search.terms }}
        {% endif %}
      {% else %}
        {{ 'general.search.title' | t }}
      {% endif %}
    </h1>
  </header>

  {% if search.performed %}
  <div class="collection-page grid">
    <div class="collection-list grid__item">
      <div class="grid">
          {% for item in search.results %}
          <div class="grid__item small--one-half medium-up--one-quarter">
            <div class="collection-list__item">
              {% assign featured_image = item.image | default: item.featured_image %}
              {% if featured_image != blank %}
                <a class="collection-list__featured-img" href="{{ item.url | within: collection }}">  
                  <picture>
                    <source
                      srcset="
                      {{ featured_image.src | img_url: 'x245' }} 1x,
                      {{ featured_image.src | img_url: 'x245', scale: '2' }} 2x,
                      {{ featured_image.src | img_url: 'x245', scale:'3' }} 3x
                      ">
                    <img src="{{ featured_image.src | img_url: 'x245' }}" alt="{{ featured_image.alt }}">
                  </picture>

                </a>
              {% endif %}
              {% if item.object_type == 'product' %}
              <div class="collection-list__product-info">
                <p class="collection-list__item-title--smaller">
                  <a href="{{ item.url | within: collection }}">{{ item.title }}</a>
                </p>  
                <p class="price--smaller">

                  {% if item.compare_at_price > item.price %}

                    {% if item.price_varies %}
                      {%- assign sale_price = item.price | money -%}
                      <span class="actual-price">{{ sale_price }}</span>
                    {% else %}
                      <span class="sale">{{ 'products.product.on_sale' | t }}</span>
                      <span class="actual-price">{{ item.price | money }}</span>
                    {% endif %}

                  {% else %}

                    {% if item.price_varies %}
                      {%- assign price = item.price | money -%}
                      {{ 'products.product.from_text_html' | t }}
                      <span class="actual-price">{{ item.price | money }}</span>
                    {% else %}
                      <span class="actual-price">{{ item.price | money }}</span>
                    {% endif %}

                  {% endif %}

                  {% if item.compare_at_price > item.price %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s class="compare-price--smaller">{{ item.compare_at_price | money }}</s>
                  {% endif %}

                  {% unless item.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% endunless %}
                </p> 
                <a class="btn btn-primary btn-full" href="{{ item.url | within: collection }}">{{ 'products.product.add_to_cart' | t }}</a>
              </div>
              {% else %}
                <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
              {% endif %}
            </div>
          </div>  
        {% endfor %}
      </div>

      <div class="grid">
        <div class="grid__item">
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        </div>
      </div>      
    </div>
  </div>
  {% endif %}
{% endpaginate %}
