<div class="banner">
  {% if section.settings.banner-link != blank %}
  <a class="banner-container" href="{{ section.settings.banner-link }}">
  {% else %}
  <div class="banner-container">
  {% endif %}
    <picture>
      <source media="(min-width: 750px)"
        srcset="
        {{ section.settings.banner-image-desktop | img_url: '1260x' }} 1x,
        {{ section.settings.banner-image-desktop | img_url: '1260x', scale: '2' }}g 2x,
        {{ section.settings.banner-image-desktop | img_url: '1260x', scale: '3' }} 3x
        ">
      <source
        srcset="
        {{ section.settings.banner-image-mobile | img_url: '600x' }} 1x,
        {{ section.settings.banner-image-mobile | img_url: '600x', scale: '2' }} 2x,
        {{ section.settings.banner-image-mobile | img_url: '600x', scale:'3' }} 3x
        ">
      <img src="{{ section.settings.banner-image-desktop | img_url: '1260x' }}" class="small--hide">
      <img src="{{ section.settings.banner-image-mobile | img_url: '600x' }}" class="medium-up--hide">
    </picture>
    <div class="banner__content">
      {% if section.settings.banner-title != blank %}
        <h2 class="title-h2" style="color:{{ section.settings.title-color }}">{{ section.settings.banner-title }}</h2>
      {% endif %}
      {% if section.settings.banner-subtitle != blank %}
        <h3 class="title-h3" style="color:{{ section.settings.subtitle-color }}">{{ section.settings.banner-subtitle }}</h3>
      {% endif %}
      {% if section.settings.promocode != blank %}
        <p class="banner__body" style="color:{{ section.settings.promocode-body-color }}">Use the promocode <span style="color:{{ section.settings.promocode-color }}">{{ section.settings.promocode }}</span> at the checkout and enjoy</p>
      {% endif %}
      {% if section.settings.cta-label != blank %}
        <button class="btn btn-primary small--hide">{{ section.settings.cta-label }}</button>  
      {% endif %}
    </div>
    {% if section.settings.cta-label != blank %}
      <button class="btn btn-primary medium-up--hide">{{ section.settings.cta-label }}</button>  
    {% endif %}
  {% if section.settings.banner-link != blank %}
  </a>
  {% else %}
  </div>
  {% endif %}
</div>
{% schema %}
  { 
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner-image-mobile",
        "label": "Image for mobile"
      },
      {
        "type": "image_picker",
        "id": "banner-image-desktop",
        "label": "Image for desktop"
      },
      {
        "type": "url",
        "id": "banner-link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "banner-title",
        "label": "Title",
        "default": "Here goes the title"
      },
      {
        "type": "color",
        "id": "title-color",
        "label": "Title Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "banner-subtitle",
        "label": "Subtitle",
        "default": "Now comes a beautyful and astonishing subtitle"
      },
      {
        "type": "color",
        "id": "subtitle-color",
        "label": "Subtitle Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "promocode",
        "label": "Promocode"
      },
      {
        "type": "color",
        "id": "promocode-color",
        "label": "Promocode Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "promocode-body-color",
        "label": "Promocode Body Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "cta-label",
        "label": "CTA Label"
      }
    ],
    "presets": [
      {
        "name": "Banner",
        "category": "Others"
      }
    ]
  }
{% endschema %}