{% if section.settings.title != blank %}
    <div class="collection-list-products__header">
        <h2>{{ section.settings.title | escape }}</h2>
    </div>
{% endif %}

<nav class="collection-list-products__tabs">
{% for block in section.blocks limit: section.blocks.size %}
    {%- assign collection = collections[block.settings.collection] -%}
    <h3 data-target="{{ collection.id }}">{{ collection.title }}</h3>
{% endfor %}
</nav>

{% for block in section.blocks limit: section.blocks.size %}
{%- assign collection = collections[block.settings.collection] -%}

<div class="collections-container">
  <div class="collection-list" data-collection-id="{{ collection.id }}" {{ block.shopify_attributes }}>
    {% for product in collection.products %}
      <div class="grid__item medium-up--one-quarter">
        <div class="collection-list__item">
          {% if product.featured_image != blank %}
            <a class="collection-list__featured-img" href="{{ product.url | within: collection }}">

              <picture>
                <source
                  srcset="
                  {{ product.featured_image.src | img_url: 'x245' }} 1x,
                  {{ product.featured_image.src | img_url: 'x245', scale: '2' }} 2x,
                  {{ product.featured_image.src | img_url: 'x245', scale:'3' }} 3x
                  ">
                <img src="{{ section.settings.banner-image-desktop | img_url: '1260x' }}" alt="{{ product.featured_image.alt }}">
              </picture>

            </a>
          {% endif %}
          <div class="collection-list__product-info">
            <p class="collection-list__item-title">
              <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            </p>
            <p class="price">

              {% if product.compare_at_price > product.price %}

                {% if product.price_varies %}
                  {%- assign sale_price = product.price | money -%}
                  <span class="actual-price">{{ sale_price }}</span>
                {% else %}
                  <span class="sale">{{ 'products.product.on_sale' | t }}</span>
                  <span class="actual-price">{{ product.price | money }}</span>
                {% endif %}

              {% else %}

                {% if product.price_varies %}
                  {%- assign price = product.price | money -%}
                  {{ 'products.product.from_text_html' | t }}
                  <span class="actual-price">{{ product.price | money }}</span>
                {% else %}
                  <span class="actual-price">{{ product.price | money }}</span>
                {% endif %}

              {% endif %}

              {% if product.compare_at_price > product.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s class="compare-price">{{ product.compare_at_price | money }}</s>
              {% endif %}

              {% unless product.available %}
                {{ 'products.product.sold_out' | t }}
              {% endunless %}
            </p>
            <a class="btn btn-primary btn-full" href="{{ product.url | within: collection }}">{{ 'products.product.add_to_cart' | t }}</a>
          </div>
        </div>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>
</div>
    
{% endfor %}

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": "Collection list 2",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Shop by Category"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list 2",
        "category": "Others",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}