<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">



  <div class="product__primary-info grid">
    <div class="product__image grid__item medium-up--four-twelfths small--one-whole">
      {% if product.images.size > 1 %}
        <ul class="product__image-slider">
          {% for image in product.images %}
            <li>
              <img src="{{ image.src | img_url: '400x300' }}" alt="{{ image.alt | escape }}">
            </li>
          {% endfor %}

        </ul>
        <ul class="product__image-slider-nav small--hide medium-up--show">
          {% for image in product.images %}
            <li>
              <img src="{{ image.src | img_url: '68x68' }}" alt="{{ image.alt | escape }}">
            </li>
          {% endfor %}

        </ul>
      {% else %}
        {% if featured_image != blank %}
          <div class="img-container">
            <img src="{{ featured_image | img_url: '400x300' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="product__offer-details grid__item medium-up--four-twelfths small--one-whole">
      <h1 class="produc__title">{{ product.title }}</h1>
      <p class="hide">{{ product.vendor }}</p>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js hide">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js hide" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <div data-price-wrapper>
            <span class="product__price-label">{{ 'products.product.regular_price' | t }}</span>
            <span data-product-price class="product__price">
              {{ current_variant.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <span data-compare-price class="product__last-price">
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ 'products.product.compare_price'| t }}
                  <s class="value">{{ current_variant.compare_at_price | money }}</s>
                {% endif %}
              </span>
            {% endif %}
          </div>

          <div class="product__quantity input-quantity">
            <label for="Quantity" class="visually-hidden">{{ 'products.product.quantity' | t }}</label>
            <button class="minus"></button>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" data-product-quantity>
            <button class="plus"></button>
          </div>

          <button
            type="submit"
            name="add"
            data-add-to-cart
            class="btn btn-primary btn-xl product__buy-button"
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>

          <div class="call-us">
            {% include 'icon-phone' %}
            <p>Call Us at <strong>{{ shop.phone }}</strong> or live chat for more info.</p>
          </div>
        </form>
      </div>
    </div>
    <div class="store__faq grid__item medium-up--four-twelfths small--one-whole">
      <h3>FAQ</h3>
      <h4>{{section.settings.faq_q1}}</h4>
      <p>{{section.settings.faq_q1_a}}</p>

      <h4>{{section.settings.faq_q2}}</h4>
      <p>{{section.settings.faq_q2_a}}</p>

      <h4>{{section.settings.faq_q3}}</h4>
      <p>{{section.settings.faq_q3_a}}</p>

      <h4>{{section.settings.faq_q4}}</h4>
      <p>{{section.settings.faq_q4_a}}</p>
    </div>
  </div>

  <div class="product__secondary-info grid">
    <div class="product__details grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
      <nav class="product__details-tabs">
        <ul>
          <li><h3 class="active">{{ 'products.product.description' | t }}</h3></li>
          {% comment %} <li><h3>{{ 'products.product.features' | t }}</h3></li>
          <li><h3>{{ 'products.product.system_requirements' | t }}</h3></li>
          <li><h3>{{ 'products.product.disclaimers' | t }}</h3></li> {% endcomment %}
        </ul>
      </nav>
      <div class="product__details-content rte" collapsed-height="300">
        <div class="product__description">
          {{ product.description }}
        </div>
        <span class="curtain"></span>
        <button class="btn btn-gray collapse-control" collapse-target="product__details-content">{{ 'products.product.showmore' | t }}</button>
      </div>
    </div> 

    {% if section.settings.show_reviews %}
      <div class="grid__item medium-up--eight-twelfths medium-up--push-two-twelfths product__reviews">
        <h3>{{ 'products.product.reviews' | t }}</h3>
        <div class="product__reviews-yotpo">
          <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}"
            data-image-url="{{ product.featured_image | product_img_url: " large " |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}">
          </div>
        </div>
      </div>
    {% endif %}
    <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth store__banner">
        
    </div>
  </div> 

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{% schema %}
    {
      "name": "Product pages",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_share_buttons",
          "label": "Show social sharing buttons",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_reviews",
          "label": "Show reviews",
          "default": true
        },
        {
          "type": "header",
          "content": "FAQ"
        },
        {
          "type": "text",
          "id": "faq_q1",
          "label": "First question",
          "placeholder": "1 - What do..."
        },
        {
          "type": "textarea",
          "id": "faq_q1_a",
          "label": "Answer to first question",
          "placeholder": "Write the answer here"
        },
        {
          "type": "text",
          "id": "faq_q2",
          "label": "Second question",
          "placeholder": "1 - How do..."
        },
        {
          "type": "textarea",
          "id": "faq_q2_a",
          "label": "Answer to second question",
          "placeholder": "Write the answer here"
        },
        {
          "type": "text",
          "id": "faq_q3",
          "label": "Third question",
          "placeholder": "3 - When do..."
        },
        {
          "type": "textarea",
          "id": "faq_q3_a",
          "label": "Answer to third question",
          "placeholder": "Write the answer here"
        },
        {
          "type": "text",
          "id": "faq_q4",
          "label": "Final question",
          "placeholder": "Other questions?"
        },
        {
          "type": "textarea",
          "id": "faq_q4_a",
          "label": "Answer to final question",
          "placeholder": "Write the answer here"
        }
      ]
    }
{% endschema %}